hr{
  border-style: dotted;
  border-width: 5px;
  width:1000px;
  border-color:#40E0D0;
  height: 10px;
}
#h2{
  border-style: dashed;}
#k1{
  color:#C0C0C0;
  background-color: #C71585;
  border-radius: 20px;20px;20px;20px;}
#m1 {
  background-color: red;}
button.side{
  width:200px;
  height: 50px;
  color: #2F4F4F;
  background-color:#00FFFF;
  font-family: fantasy;
  font-size: 15px;
}
.side:hover{
  background-color:darkgrey;
  color:red;
}
#b1 {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
 }
#b2 {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#h1{
  border-style: groove;}
#m1
{
  background-color: blue;
}
#t1 {
  font-style: oblique;
  font-family: fantasy;
  font-variant: small-caps;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: lightgreen;
  border: 3px solid black;
}
#p1
{
  background-image: linear-gradient(white, red);
}
td{
  border-radius: 20px;
}
tr{
  border-radius: 20px;
}
